
.navbar {
    margin-left: 7%;
    width: 86%;
    height: 4rem;

}


.navbar_text {
    color: #000000;
    font-size: calc(0.7em + 1vw);
    text-decoration: none; /* Добавляем подчеркивание при наведении курсора на ссылку */
    transition: all 77ms;
    position: absolute;
    top: 50%;
    margin-top: -0.625em;
}

.navbar_border {
    border-bottom: #000000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 86%;
    margin-left: 7%;
}

.navbar_text:hover {
    letter-spacing: 0.2rem;
    font-size: calc(0.7em + 1.5vw);
    color: #000000;
}

.navbar_group {
    width: 16.8%;
    height: 2.5rem;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;
}

.header_welcome {
    margin: 2rem;
    height: calc(5em + 3vw);
    margin-left: 6%;
    width: 88%;

}

.group_welcome {
    float: left;
    width: 20%;
    height: 100%;
    margin-right: 0;
}

.name_welcome {
    width: 100%;
    height: 50%;
    font-size: calc(0.4em + 2.5vw);
    margin: 0;
    margin-left: 1rem;
    letter-spacing: 1vw;
}

.group_welcome_about {
    float: left;
    width: 60%;
    height: 100%;
    align-content: center;
    text-align: center;
}

.name_welcome_about {
    width: 100%;
    height: 35%;
    margin: 0;
    font-size: calc(0.5em + 1vw);
}


.group_welcome_language {
    width: 20%;
    height: 100%;
    writing-mode: vertical-rl;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    text-align-last: justify;

}

.name_welcome_language {
    margin: 0;
    line-height: 100%;
    text-align: center;
    display: inline-block;
    width: calc(0.4em + 2vw);
    font-size: calc(0.7em + 1vw);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.img_welcome {
    margin: 3rem;
    height: calc(2em + 40vw);
    margin-left: 8%;
    width: 84%;
    background: url(images/Welcome1.JPG) no-repeat;
    background-size: cover ;
    background-position: top;
}

.about_me_group {
    margin-top: 25%;
    margin-bottom: 25%;
}

.block_header {
    text-align: center;
    font-size: calc(1.2em + 3vw);
    margin-bottom: 10%;
}

.about_me_text {
    font-size: calc(0.6em + 1.5vw);
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

.programs_block {
    height: 100%;
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20%;
}

.program {
    border-width: 0;
    margin: 0;
    width: 30%;
    height: 30%;
    display: inline-block;
}

.prog_text {
    display: flex;
    justify-content: center;
}

.prog_img {
    width: 100%;
}

.contact_text {
    display: flex;
    justify-content: center;
    font-size: calc(0.2em + 1vw);
    width: 100%;
    margin-bottom: 1em;
}

.conts {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 25%;
    padding: 0;
    margin-bottom: 5%;
}

.cont {
    list-style: none;
    width: 15%;
    min-width: 35px;

}